.jumbotron {
	padding: 200px 100px;
	background-color: grey;
	color: white;
}

.bg {
	background-image: url("bg.png");
	width: 100%;
	background-size: cover;
	-webkit-filter: drop-shadow(0px 0px 5px #000);
}


.container-fluid {
	padding: 60px 60px;
	background-color: white;
}

.cover {
	position: relative;
	display: inline-block;
	margin-top: 20px;
	margin-right: 280px;
	-webkit-filter: drop-shadow(0px 0px 5px #000);
}

.jk {
	background-color: #2F4255;
	padding: 100px 100px;
	background-size: cover;
	color: white;
}

.jr {
	background-color: white;
	padding: 100px 100px;
	background-size: cover;
}

.gd {
	background-color: #7DA9D1;
	padding:30px;
	color: white;
}

.carousel-inner {
	border-radius: 5px;
}

.carousel-caption {
	-webkit-filter: drop-shadow(0px 0px 5px #000);
}

.animated {
    background-repeat: no-repeat;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

.delay1 {
	animation-delay: 0.5s;
}

.delay2 {
	animation-delay: 1s;
}
         
@-webkit-keyframes fadeIn {
    0% {
    	opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}
         
@keyframes fadeIn {
    0% {
    	opacity: 0;
    }
    100% {
    	opacity: 1;
    }
}
         
.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
}

.info {
	position: absolute;
	top: 20px;
	left:400px;
	padding: 100px;
}

.label {
	position: absolute;
	top: 480px;
	left: 560px;
	color: white;
	font-size: 30px;	
}

.sublabel {
	position: absolute;
	top: 485px;
	left: 590px;
	color: white;
	font-size: 20px;
}

.word {
	text-align: left;
	font-family: Verdana;
	color: black;
	margin-top: 0px;
	margin-left: 390px;
}
